{% extends 'Default/base.html.twig' %}

{% block body %}
    <h2>This is a private repository.</h2>
    <p>If you should have access, contact us.
      <span class="contact"><span></span></span>
    </p>
{% endblock %}
