{% extends 'Default/base.html.twig' %}

{% block body %}
    <h2>This is a private repository.</h2>
    {% if packages_conf.contact_email is not empty %}
    <p>If you should have access, contact us.
      <span class="contact">{{ packages_conf.contact_email }}</span>
    </p>
    {% endif %}
{% endblock %}
