/.settings
/.project
/.buildpath
/satis.phar
/vendor
/satis.json
/web/packages.json
/web/include
!/web/robots.txt
/config.yml
/cache/*
/logs/*
/config/deploy.rb
/.idea
/database.sqlite
/components
/.composer
/.php_cs.cache
/auth.json
/web/dist
