security:
  # Username and password to access the web management interface
  username: somebody
  password: password

doctrine:
  mapping: 
    default:
      paths: [ '%app.root_dir%/src/Entity', '%app.root_dir%/src/Plugin' ]
      namespace: Terramar
    
  database:
    # Any Doctrine driver
    driver: pdo_sqlite
    
    # Options
    path: %app.root_dir%/database.sqlite
    # host: 127.0.0.1
    # user: root
    # password:
    # dbname: packages
   
resque:
  host:     'unix:/tmp/redis.sock'
  port:     ~
  database: 0
