<div class="box-header">
  <h3 class="box-title">Clone Project</h3>                                    
</div>
<div class="box-body">
  <div class="form-group">
    Clone this project locally after each code push.
  </div>
  <div class="form-group">
    <label for="cloneproject_enabled">
      <input type="checkbox" name="cloneproject_enabled" value="1" {% if config.enabled %}checked="checked" {% endif %}id="cloneproject_enabled"> &nbsp; Enabled
    </label>
  </div>
</div>