{% extends 'base.html.twig' %}

{% block subtitle %}
    {% if description %}
        <p>{{ description }}</p>
    {% endif %}
{% endblock %}

{% block body %}
    <h2>This is a private repository.</h2>
    <p>If you feel you should have access, please contact us. contact at terramarlabs dot com.</p>
{% endblock %}
