{% extends 'base.html.twig' %}

{% block body %}
    <h2>Please login.</h2>
    <form method="post">
        <p><input type="text" placeholder="Username" name="username"></p>
        <p><input type="password" placeholder="Password" name="password"></p>
        <p><button type="submit">Submit</button></p>
    </form>
{% endblock %}