body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background: url('../img/debut_light.png') repeat #f9f9f9;
}

a {
  color: #3c8dbc;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: #72afd2;
}

h1 {
  margin: 0;
  display: inline-block;
}

.login-link {
  float: right;
  display: inline-block;
  text-transform: uppercase;
}

.wrapper {
  margin-top: 40px;
  background-color: white;
  border: 1px solid #CCCCCC;
  height: 100%;
  padding: 30px;
  border-radius: 4px;
}

.content {
  background-color: transparent;
}

.content-header {
  margin-bottom: 30px;
}

.content-body {
  margin: 30px 0;
}

.content-footer {
  margin-top: 30px;
}

.contact {
  color: #777;
}

.contact span:before {
  content: "contact@";
}

.contact span:after {
  content: "terramarlabs.com"
}

.last-update, .contact {
  display: block;
}

@media only screen and (min-width: 480px) {
  .last-update:before {
    content: "- ";
  }
  
  .last-update, .contact {
    display: inline-block;
  }
}


@media only screen and (max-width: 992px) {
  .wrapper {
    margin: 15px;
    padding: 20px;
  }
}